body
{
    background: red;
}

    .login_div1 , .login_div2
    {
        background: white;
        padding: 10px;
        float: none;
        border-radius: 15px;
    }


#player1_name , #player2_name
{
    display: inline-block;
    margin-left: 5px;
}
#word
{
    width: 60%;
}
#word_display
{
    letter-spacing: 5px;
}
#output
{
background: rgb(249, 246, 246);
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

h6 {
    font-size: larger;
}

#send_button {
    width: fit-content;
    background-color: green;
}

